.label-with-select {
	.flex-label {
		display: flex;
		align-items: center;
	}

	.select-container {
		.select-button {
	    width: 100%;

	    .ant-select-selector {
				background: transparent;

				&:hover,
				&:focus,
				&:active {
					outline: none;
					box-shadow: none;
				}
			}
		}
	}
}

.label-with-select-dotted {
	.select-container {
		width: fit-content;
		min-width: 120px;
		margin: auto;

		.select-button {
			font-size: 13px;
			color: #374375;
			width: 100%;

			.ant-select-selector {
				border: none;
				border-bottom: 1px dashed;
				background: transparent;

				&:hover,
				&:focus,
				&:active {
					outline: none;
					box-shadow: none;
				}
			}

			.ant-select-arrow {
				color: #374375;
			}
		}
	}
}