.button-container {
	display: flex;
	flex-wrap: wrap;

	.button-ring {
		margin: 5px;
		padding: 1px;
		border: 1px solid transparent;
		transition: all 0.5s;
		border-radius: 5px;

		&.active {
			border-color: #F68461 !important;
		}

		&.width-100 {
			width: 100% !important;
			text-align: center;
			
			.ant-btn {
				width: 100%;
				text-align: center;
				border-radius: 5px;
			}
		}
	}
}

.rounded-button-container {
	display: flex;
	flex-wrap: wrap;

	.button-ring {
		margin: 5px;
		padding: 1px;
		border: 1px solid transparent;
		transition: all 0.5s;
		border-radius: 5px;

		.ant-btn {
			text-align: center;
			border-radius: 28px;
		}

		&.active {
			border-color: #F68461 !important;
		}

		&.width-100 {
			width: 100% !important;
			text-align: center;
			
			.ant-btn {
				width: 100%;
				text-align: center;
				border-radius: 5px !important;
			}
		}
	}
}

.btn-controller-new-add {
	width: 38px;
	right: 10px;
	display: flex;
	align-items: center;
	position: absolute;
	overflow: hidden;
	transition: 0.5s all;
	border-radius: 30px;

	.width-control-new-add {
		cursor: pointer;
		border: 1px solid transparent;
		padding: 0 5px;
		border-radius: 30px;
		width: auto;
		font-size: 12px;
		padding: 4.5px 0px;
		text-align: left;
		margin-left: 0px;
		transition: 0.5s all;
		height: 40px;
		width: 45px;

		.new-add-btn {
			cursor: pointer;
			font-size: 20px;
			border: 1px solid;
			padding: 0 5px;
			border-radius: 30px;
			color: #808080;
			transition: 0.5s all;
			padding: 4.8px 8px;
			margin-left: -1px;
		}

		.new-text {
			left: 137px;
			width: 150px;
			transition: 0.5s all;
			position: absolute;
			padding: 4px 0;
		}
	}
}

.new-add-btn:hover {
	color: #666464;
}

.btn-controller-new-add:hover {
	width: 145px;
}

.btn-controller-new-add:hover > .width-control-new-add{
	border: 1px solid #808080;
	margin-left: 4px;
	width: 200px;
}

.btn-controller-new-add:hover > .width-control-new-add > .new-text{
	left: 50px;
}