#user_management {
	background: #fff;
	color: #232323;
	font-size: 13px;

	.contains {
		// margin-top: 53px;
		// margin-left: 180px;
		// transition: 0.5s;
		background: #fff;
		height: calc(100vh - 60px) !important;
		overflow: hidden;
		overflow-y: auto;
		position: relative;
		z-index: 2;

		.user-content {
			.category-select {
				.select-container {
					justify-content: left !important;

					.flex-label {
						display: flex;
						align-items: center;
						width: 25% !important;

						.header-text {
							font-size: 14px;
						}
					}
				}
			}

			.table-container {
				.status-btn {
					right: 100px !important;
				}

				.user-butn-container {
					display: flex;
					align-items: center;

					.ant-divider-vertical {
						height: 20px !important;
					}

					.button-container {
						margin-left: 10px;

						.ant-btn {
							border-radius: 20px;
							box-shadow: 5px 5px 10px rgb(230, 230, 230);
						}

						&.block-btn {
							.ant-btn {
								box-shadow: none !important;
							}
						}
					}
				}

				.role-butn-container {
					margin-top: 10px;

					.button-container {
						float: right;
						margin-right: 5px;

						.ant-btn {
							border-radius: 20px !important;
						}
					}
				}

				.subscription-text {
					width: 30%;

					.text-container {
						display: flex;
						align-items: center;
						position: absolute;
						margin-left: 15px;
						margin-top: 30px;

						.value {
							font-size: 20px;
							font-weight: 500;
						}

						.lable {
							margin-left: 10px;
						}
					}
				}

				.link-button {
					cursor: pointer;
					display: flex;
					align-items: center;
					transition: all 0.5s;
					margin-top: 20px;
					margin-left: 10px;
					position: absolute;
					z-index: 2;
					font-size: 14px;

					&:hover {
						color: #f58740;
					}

					.link-icon {
						margin-right: 5px;
					}
				}

				.normal-button {
					margin-top: 10px;
					position: absolute;
					z-index: 2;
					font-size: 14px;
				}

				.category-select {
					position: relative;
					padding-right: 10px;
					margin-left: 10px;

					.category-button-container {
						display: flex;
						justify-content: flex-end;
					}
				}

				.user-table {
					padding-right: 5px;
					position: relative;

					.antD-table-class .ant-table {
						box-shadow: none !important;
					}

					&.no-data {
						text-align: center;
						margin-top: 50px;
						font-weight: 500;
					}

					.head-name {
						font-weight: bold;
						margin-right: 40px;
					}

					.tot-user {
						margin-left: 40px;
					}

					.menu-icon {
						font-size: 20px;
						width: 9px;
						cursor: pointer;
						transition: 0.5s all;

						&:hover {
							color: #f58740;
						}
					}

					.app-role-sec {
						display: flex;
						border: 1px solid #808080;
						font-size: 10px;
						padding: 4px;
						color: #808080;
						border-radius: 8px;
						margin-right: 15px;
						width: fit-content;
						align-items: center;

						.app-sec {
							padding-right: 5px;
							border-right: 1px solid #808080;
						}

						.role-sec {
							padding-left: 5px;
						}
					}

					.ant-table-content {
						// height: calc(100vh - 220px) !important;
						max-height: calc(100vh - 175px) !important;
						overflow: auto !important;

						.font-orange {
							color: #f58740;
						}

						.last-login {
							font-size: 11px;
							color: #c4c2c2;
						}
					}
				}
			}
		}
	}

	.contains.collapsed-side {
		margin-left: 80px !important;
		transition: 0.5s;
	}
}

.add-edit-user-drawer,
.add-edit-usergroup-drawer,
.add-edit-role-drawer {
	z-index: 1002 !important;

	.content-body {
		height: calc(100vh - 140px);
		overflow: hidden;
		overflow-y: auto;

		.has-error {
			.ant-legacy-form-explain,
			.ant-legacy-form-split {
				font-weight: 600;
			}
		}

		.ant-legacy-form-item-label {
			font-weight: 600 !important;
		}

		.ant-drawer-close {
			display: none !important;
		}

		.ant-drawer-content-wrapper {
			width: 50% !important;
		}

		.access-tree {
			overflow: hidden;
			overflow-y: auto;
			height: calc(100vh - 390px);
		}

		.form-container {
			overflow: hidden;
			overflow-y: auto;
			height: calc(100vh - 230px);
		}

		.select-contact,
		.select-role {
			.lable-txt {
				width: 50%;
			}

			.contact-select {
				width: 100%;
			}

			.ant-legacy-form-item-children {
				display: flex !important;
				align-items: center;
			}

			.show-form-link {
				color: #f58740;
				opacity: 0.6;
				transition: all 0.5s;
				cursor: pointer;
				width: 40%;
				margin-left: 20px;

				&:hover {
					opacity: 1;
				}
			}
		}
	}
}

.role-details {
	transform: translateX(0px) !important;

	.top-section {
		display: flex;
		position: relative;
		margin-bottom: 10px;
	}

	.ant-drawer-body {
		overflow-y: auto !important;
		height: calc(100vh - 60px) !important;
	}

	.collapse {
		margin-top: 60px;

		.ant-collapse-content {
			color: #232323 !important;

			.ant-collapse-content-box {
				padding: 5px !important;
			}
		}

		.ant-collapse-header {
			display: flex !important;
			align-items: center !important;
		}

		.collapse-header-sec {
			display: flex;
			align-items: center;
			margin-left: 10px;

			.divider {
				width: 1px;
				height: 40px;
				background-color: #c4c2c2;
				margin: 0 40px;
			}

			.desc-icon {
				transition: all 0.3s;

				&:hover {
					color: #f58740;
				}
			}

			.action-icon {
				margin-left: 20px;
				transition: all 0.3s;

				&:hover {
					color: #f58740;
				}
			}

			.app-tag {
				font-size: 10px;
				padding: 5px;
				border: 1px solid;
				border-radius: 10px;
				margin-left: 30px;
			}
		}

		.ant-collapse
			> .ant-collapse-item
			> .ant-collapse-header
			.ant-collapse-arrow {
			line-height: 55px;
		}
	}
}

.add-edit-role-drawer {
	.ant-legacy-form {
		height: calc(100vh - 140px) !important;
		overflow: hidden !important;
		overflow-y: auto !important;
	}
}

@media (max-width: 1023px) {
	#user_management {
		.contains {
			margin-left: 0 !important;

			&.collapsed-side {
				margin-left: 0 !important;
			}

			.user-content {
				.table-container {
					.user-table {
						.ant-table-content {
							width: 120%;
						}
					}
				}
			}
		}
	}

	.role-details,
	.add-edit-user-drawer {
		.ant-drawer-content-wrapper {
			width: 100% !important;
		}
	}

	.add-edit-role-drawer {
		.ant-drawer-content-wrapper {
			width: 80% !important;
		}
	}
}

@media (max-width: 800px) {
	#user_management {
		.contains {
			.table-container {
				.user-table {
					.ant-table-content::-webkit-scrollbar {
						height: 8px !important;
					}

					.ant-table-scroll {
						width: 150% !important;
					}
				}
			}
		}
	}
}

@media (max-width: 425px) {
	#user_management {
		.contains {
			.table-container {
				.user-table {
					.ant-table-scroll {
						width: 200% !important;
					}
				}
			}

			.user-content {
				.table-container {
					.user-table {
						.ant-table-content {
							width: 200%;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 320px) {
	#user_management {
		.contains {
			.user-content {
				.table-container {
					.user-butn-container {
						width: 100% !important;
					}

					.role-butn-container {
						width: 100% !important;
					}
				}
			}
		}
	}
}
