.conts{
  margin-top: 54px !important;
  margin-left: 210px !important;
  transition: 0.5s;

  &.collapsed-side {
     margin-left: 110px !important;
      transition: 0.5s;
  }



  .load-center {
    transform: translate(-50%, -50%) !important;
    top: 50% !important;
    left: 50% !important;
    position: absolute !important;

    .svg{
      height: 40px;
      display: table;
      margin: auto;
      margin-bottom: 20px;
    }

    .msg {
    //   height: 18px;
      margin-bottom: 9px;
      font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
      font-size: 13px;
      color: rgba(100, 111, 121, 0.705);
    //   opacity: 0.75;
      filter: grayscale(100%);
      text-align: center;
    }
  }
  .b-logo {
    position: absolute;
    bottom: 10px;
    height: 15px;
    width: 100px;
    transform: translate(-50%, -50%) !important;
    left: 50% !important;
    filter: grayscale(100%);
  }
}